doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
    block js
      script(src='js/flatbuffers.js')
      script(src='js/miniville_generated.js')
      script(src='https://code.jquery.com/jquery-3.1.0.min.js')
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    block content
